		<!-- MAIN PANEL -->
		<div ng-app="CloudApp" id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">
			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content" ng-controller="gatewayCtrl">
				<div class="row">						
					<table  class="table table-striped table-bordered" width="100%" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-dtInstance="dtInstance" >
					</table>
				</div>
			</div>
		</div>

		<script src="js/libs/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="css/datatables.bootstrap.min.css">
		<script src="js/libs/angular.min.js"></script>

		<script src="js/libs/jquery-ui.min.js"></script>

		<script type="text/javascript" src="js/libs/jquery.dataTables.min.js"></script>
		<!-- Load file JS : controller -->
		<script type="text/javascript" src="Angular/js/app.js"></script>
		<script type="text/javascript" src="Angular/js/controllers/gatewayCtrl.js"></script>
		<script type="text/javascript" src="js/libs/angular-datatables.min.js"></script>


		
